/* Base styles */
body {
  font-family: Arial, sans-serif;
}

/* Toggle chat button */
.toggle-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #34a853; /* Green background */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.toggle-chat .material-symbols-rounded {
  font-size: 24px;
}

.toggle-chat.hidden {
  display: none;
}
/* Chat interface */
.chat-interface {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px; /* Increased width */
  height: 600px; /* Increased height */
  max-width: 100%;
  background-color: white;
  border: 2px solid #34a853; /* Green border */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 999;
}

.chat-interface.active {
  display: block;
}

/* Header */
.chat-interface header {
  padding: 15px; /* Increased padding */
  background-color: #34a853; /* Green background */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-interface .close-btn {
  cursor: pointer;
}

/* Message box */
.message-box {
  list-style: none;
  padding: 15px; /* Increased padding */
  margin: 0;
  max-height: 450px; /* Increased height */
  overflow-y: auto;
}

/* Messages */
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message p {
  background-color: #f1fff1; /* Very light green */
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 0 10px;
}

.message.incoming p {
  background-color: #e5f7e5; /* Light green */
}

/* Message input */
.message-input {
  display: flex;
  align-items: center;
  padding: 15px; /* Increased padding */
  border-top: 1px solid #ddd;
  background-color: #f1fff1; /* Very light green */
}

.message-input textarea {
  flex-grow: 1;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.message-input #send-btn {
  cursor: pointer;
  margin-left: 10px;
  color: #34a853; /* Green color */
  font-size: 24px; /* Increased size */
}
